{% extends "base.html" %} {% block head %} {{ super() }}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename= 'extended_beauty.css') }}"
/>
{% endblock %} {% block content %}
<h1 id="intro">
  Welcome, {{ user.name }}!
</h1>
<h2 id="intro">
  You consumed {{ totalCalorie }} calories today.
</h2>
<div>
  <table class="table table-hover" width="100%" cellspacing="0" cellpadding="0" style='font-family: "Arvo", serif;'>
    <thead class="thead-dark">
      <tr id="textstyle">
        <th scope="col">Number of Calories</th>
        <th scope="col">Date Of Consumption</th>
        <th scope="col">Food Name</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for food in foods %}
      <tr>
        <td>{{ food.calorie }}</td>
        <td>{{ food.date_posted.strftime('%m/%d/%Y') }}</td>
        <td>{{ food.food_name }}</td>
        <td>
          <a
            href="{{ url_for('main.update_fooditem', food_id=food.id) }}"
            class="btn btn-outline-primary"
            role="button"
          >
            Edit
          </a>
        </td>
        <td>
          <a
            href="{{ url_for('main.delete_fooditem', food_id=food.id) }}"
            class="btn btn-outline-danger"
            role="button"
          >
            Delete
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
