{% extends "base.html" %} {% block head %} {{ super() }}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename= 'extended_beauty.css') }}"
/>
{% endblock %} {% block content %}
<div id="intro">
  {% with messages = get_flashed_messages() %} {% if messages %}
  <div class="notification is-success">
    {{ messages[0] }}
  </div>
  {% endif %} {% endwith %}
  <h1>
    Welcome to your personal calorie counter!
  </h1>
  <center>
    <img
      src="{{ url_for('static', filename= 'images/food-bg.png') }}"
      alt="img here"
      height="200px"
    />
  </center>
  <p>
     <br />With this application, you can:
  </p>
  <p>
     - search for food via the NutritionIX database
  </p>
  <p>
     - add/modify calories to a personalized calorie counter
  </p>
  <p>
     - get nutrition facts (in progress)
  </p>
  <p>
     - view food history graph (in progress)
  </p>    
</div>
{% endblock %}