h1,
h2,
h4,
p {
  font-family: "Arvo", serif;
}

p {
  font-size: 17px;
}

#intro {
  padding-top: 3%;
  padding-right: 3%;
  padding-bottom: 3%;
  padding-left: 3%;
}

.intro {
  padding-top: 3%;
  padding-right: 3%;
  padding-bottom: 3%;
  padding-left: 3%;
}

#textstyle {
  font-family: "Arvo", serif;
}
